Source: rgbds
Section: devel
Priority: optional
Maintainer: Julius Clasen <julius.clasen@cmz.de>
Build-Depends: debhelper-compat (= 13), cmake, bison, pkg-config, libpng-dev
Standards-Version: 4.6.2
Homepage: https://rgbds.gbdev.io
Vcs-Browser: https://github.com/gbdev/rgbds-deb
Vcs-Git: https://github.com/gbdev/rgbds-deb.git
Rules-Requires-Root: no

Package: rgbds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Game Boy ASM programming tools
 The Rednex Game Boy Development System provides tools to compile homebrew
 Game Boy ROMs. It consists of:
  - rgbasm (assembler)
  - rgblink (linker)
  - rgbfix (checksum/header fixer)
  - rgbgfx (PNG‐to‐Game Boy graphics converter)
