#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

ifneq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	STRIP :=
else
	STRIP := -s
endif

ifneq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
	Q := @
else
	Q :=
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    PARALLEL = -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

export DEB_BUILD_MAINT_OPTIONS=hardening=+all


%:
	dh $@ --buildsystem=cmake+makefile -B build


# CMake builds executables in `./build/src/`, but tests expect them at `./`
# Do not run the full test suite, as it pulls non-free codebases to run tests on.
override_dh_auto_test:
	cp build/src/rgbasm build/src/rgblink build/src/rgbfix build/src/rgbgfx .
	cd test/asm && ./test.sh
	cd test/link && ./test.sh

execute_before_dh_auto_clean:
	rm -f build/src/rgbasm build/src/rgblink build/src/rgbfix build/src/rgbgfx
