#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

ifneq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
	STRIP :=
else
	STRIP := -s
endif

ifneq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
	Q := @
else
	Q :=
endif

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
    PARALLEL = -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

export DEB_BUILD_MAINT_OPTIONS=hardening=+all


%:
	dh $@


# The Makefile doesn't have a separate preprocessing step, and otherwise doesn't consider CPPFLAGS.
# Further, enable extra warnings.
override_dh_auto_build:
	$(MAKE) $(PARALLEL) Q=$Q CFLAGS+="$(CPPFLAGS)" WARNFLAGS="-Wall -Wextra"

# Do not run the full test suite, as it pulls non-free codebases to run tests on.
# "asm" test suite creates a few .gitingore'd files while running, delete them to clean the tree.
override_dh_auto_test:
	cd test/asm && ./test.sh
	rm -f test/asm/'quote"file'.*
	cd test/link && ./test.sh

override_dh_auto_install:
	$(MAKE) $(PARALLEL) install DESTDIR="$(CURDIR)"/debian/rgbds PREFIX=/usr STRIP=$(STRIP) Q=$Q
